@import "@assets/scss/global";

.match-box {
    background: linear-gradient(86.9deg, rgba(34, 95, 237, 0.8) 0%, rgba(113, 46, 255, 0.8) 100%);
    width: 340px;
    height: 150px;
    padding: 12px;
    border-radius: 4px;
    color: $secondaryTextColor;
    display: flex;
    flex-direction: column;

    .breadcrumb {
        .item {
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: $primaryTextColor;
            position: relative;

            svg {
                width: 13px;
                height: 13px;

                path {
                    fill: $secondaryTextColor;
                }
            }
        }

        .last-item {
            width: 100%;
            font-size: 12px;
            color: $primaryTextColor;
        }
    }

    .teams {
        margin-top: 10px;

        .team-item {
            flex-grow: 1;
            max-width: 40%;

            .name {
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;

                &.right {
                    text-align: right;
                }
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        .start-time {
            text-align: center;

            .date {
                font-size: 12px;
            }

            .hour {
                font-size: 13px;
                font-weight: 600;
            }
        }
    }

    .odds {
        flex-grow: 1;
        align-items: flex-end;

        .odds-item {
            flex-grow: 1;
            padding: 3px 8px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            font-size: 12px;
        }
    }
}