@import "@assets/scss/global";

.about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 88px;

    .banner {
        flex: 6 0 0;

        img {
            width: 100%;
        }
    }

    .info {
        flex: 4 0 0;

        h3 {
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            color: white;
        }

        p {
            margin: 0;
            margin-top: 16px;
            color: white;

            &:first-child {
                margin-top: 20px;
            }

            .hightlight {
                color: #2563F3;
            }
        }

        button {
            margin-top: 24px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}