@import "@assets/scss/global";

.dashboard {
    padding: 104px 0;
    @include smallLessDesktop {
        padding-top: 16px;
    }
    .nft {
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
        gap: 18px;
        @include smallLessDesktop {
            flex-direction: column;
        }
    }

    [class~="container"] {
        > div {
            &:not(:first-child) {
                margin-top: 96px;
            }
        }
    }
}