@import "@assets/scss/global";
.matches {
    margin-top: 24px;
    margin-right: 20px;
    .tab-active {
        color: red;
        font-weight: 500;
        a {
            color: red;
        }
        svg {
            path {
                fill-opacity: 1;
            }
        }
    }
}