@import "@assets/scss/global";

.footer {
    background: linear-gradient(130.36deg, #020076 0%, #001D48 99.25%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

    .content {
        padding: 48px 0;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 90%;
            }
        }

        .footer-menu {
            display: flex;
            flex-direction: row;
            gap: 16px;

            .menu-col {
                display: flex;
                flex-direction: column;
                gap: 12px;
                flex: 1 0 0;

                h3 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: white;
                }

                a {
                    display: inline-block;
                    padding: 6px 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: white;
                }
            }
        }

        .social {
            h4 {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: white;
            }

            .list {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                gap: 16px;
                flex-wrap: wrap;
            }
        }
    }

    .copyright {
        background: #4f4f4f;
        padding: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        background: #18123E;

        @include smallLessDesktop {
            font-size: 14px;
        }
    }
}