@import "@assets/scss/global";

.score-result-details {
    padding: 32px 0;

    .btn-back {
        display: inline-flex;
        align-items: center;
        padding: 8px 12px;
        background-color: transparent;
        outline: none;
        gap: 8px;

        svg {
            transform: rotateZ(180deg);
        }
    }

    main {
        max-width: 740px;
        margin: auto;

        .match-bet {
            margin-top: 8px;
        }

        .separate {
            height: 1px;
            background-image: linear-gradient(to right, #2563F3 0%, #2563F3 50%, transparent 50%);
            background-size: 16px 1px;
            background-repeat: repeat-x;
            margin: 32px 0;
        }

        .bet-history {
            .filter {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 16px;

                form {
                    width: 160px;
                }

                .pagination {
                    margin-left: auto;
                }
            }

            .list {
                margin-top: 24px;

                .status {
                    padding: 3px 10px;
                    display: block;
                    border: 1px solid #32C653;
                    border-radius: 20px;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 15px;
                    color: #32C653;

                    &.lost {
                        color: #F74040;
                        border-color: #F74040;
                    }
                }
            }
        }
    }
}