@import "@assets/scss/global";
.highlight {
    // margin-top: 24px;
    max-width: 100%;
    display: block;
    .matches-slider {
        ul li {
            &:nth-child(odd) {
                .match-box {
                    background-image: url('/images/matches-card.png');
                }
            }
            &:nth-child(even) {
                .match-box {
                    background-image: url('/images/matches-card-night.png');
                }
            }
        }
        .match-box {
            // background: linear-gradient(86.9deg, rgba(34, 95, 237, 0.8) 0%, rgba(113, 46, 255, 0.8) 100%);
            background-color: rgba(0, 0, 0, 0.5);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-blend-mode: multiply;
            width: 340px;
            height: 150px;
            padding: 12px;
            border-radius: 8px;
            color: $secondaryTextColor;
            display: flex;
            flex-direction: column;
            .breadcrumb {
                .item {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: $primaryTextColor;
                    position: relative;
                    svg {
                        width: 13px;
                        height: 13px;
                        path {
                            fill: $secondaryTextColor;
                        }
                    }
                }
                .last-item {
                    width: 100%;
                    font-size: 12px;
                    color: $primaryTextColor;
                }
            }
            .teams {
                margin-top: 10px;
                .team-item {
                    flex-grow: 1;
                    max-width: 40%;
                    .name {
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 500;
                        &.right {
                            text-align: right;
                        }
                    }
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .start-time {
                    text-align: center;

                    .date {
                        font-size: 12px;
                    }
                    .hour {
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }
            .odds {
                flex-grow: 1;
                align-items: flex-end;
                .odds-item {
                    flex-grow: 1;
                    padding: 3px 8px;
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 2px;
                    font-size: 12px;
                    cursor: pointer;
                    &.selected {
                        background: rgba(238, 74, 41, 0.8);
                    }
                }
            }
        }
        [class~="react-multiple-carousel__arrow"] {
            min-width: 40px;
            min-height: 40px;
            display: none;
        }
        [class~="react-multiple-carousel__arrow--right"] {
            right: 24px;
        }
        [class~="react-multiple-carousel__arrow--left"] {
            left: 24px;
        }
        &:hover {
            [class~="react-multiple-carousel__arrow"] {
                display: block;
            }
        }
    }
}