@import "@assets/scss/global";

.account-detail {
    .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        color: $secondaryTextColor;
        svg {
            width: 32px;
            height: 32px;
            margin-right: 16px;
            path {
                fill-opacity: 1;
            }
        }
    }
    .content {
        display: flex;
        gap: 32px;
    }
}