@import "@assets/scss/global";

.confirm-register-form {
    .description {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .btn-login {
        width: 100%;
    }
    .actions {
        margin: 24px 0;
        text-align: center;
        font-size: $fontSizeNormal;
        a {
            text-decoration: underline;
            text-underline-offset: 1.8px;
        }
    }
}