.odds-item {
    margin-bottom: 16px;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    .league {
        position: relative;

        .close {
            position: absolute;
            top: 6px;
            right: 2px;

            svg {
                width: 12px;
                height: 12px;
            }
        }

        .name {
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            color: white;

            svg {
                width: 12px;
                height: 12px;
            }
        }

        .events {
            font-size: 10px;
            line-height: 15px;
            margin-top: 6px;
            font-weight: 500;

            p {
                margin: 0;

                &:not(:first-child) {
                    margin-top: 2px;
                }
            }
        }
    }

    .current-status {
        margin-top: 4px;

        .oods-value {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: white;
        }

        .amount {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            padding: 3px 8px;
            background: #2563F3;
            border-radius: 2px;
            min-width: 72px;
            text-align: right;
            color: white;
            input {
                outline: none;
                border: none;
                background: transparent;
                width: 50px;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }

            span {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}