@import "@assets/scss/global";

.sport-layout {
    display: flex;
    .side-left-menu {
        width: 330px;
        min-height: calc(100vh - 72px);
        padding: 28px;
        background: rgba(0, 0, 0, 0.5);
    }
    .main-content {
        flex-grow: 1;
        max-width: calc(100% - 330px);
        // padding: 28px;
    }
}