.empty-result {
    height: 100%;
    width: 100%;
    .empty-box {
        padding-top: calc(100 / 1200 * 100%);
        padding-bottom: calc(100 / 1200 * 100%);
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            max-width: 150px;
            margin-bottom: 1rem;
        }
    }
}