@import "@assets/scss/global";

.airdrop-table {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 4px 20px;
    border-spacing: 0;

    thead {
        tr {
            th {
                padding: 20px 12px;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.8);

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    tbody {
        td {
            padding: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.8);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        tr {
            &:first-child td {
                padding-top: 20px;
            }
        }
    }
}